@import 'config';

// ================== Header ===========================

$font-color: #5b5a5a;
$hover-color: #755def;

.header {
  .navbar-nav {
    .nav-link {
      margin: 20px 45px 5px 45px !important;
      color: $font-color !important;
    }
    .active a {
      color: $hover-color !important;
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-thickness: 4px;
      text-underline-offset: 18px;
    }
  }
}

// ===================== Hero =======================s

.hero {
  .carousel-item img {
    height: 80vh;
    filter: brightness(50%);
    background-size: cover;
  }

  .carousel-caption {
    width: 35%;
    line-height: 1 !important;
    top: 120px;
    left: 18%;
    padding: 0;
    text-align: start;
  }
  h1 {
    color: #fff;
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: 700 !important;
  }
  p {
    color: #fff;
  }
}

// =================== Registration =====================

.registration {
  background-color: #f2f3f5;
  .container {
    max-width: 500px;

    h1 {
      font-size: 35px;
      color: $font-color;
      padding: 30px;
      text-align: center;
      font-weight: 600;
    }

    .form-group {
      justify-content: center;

      .active {
        border: 2px solid #99ccff;
      }
      .success {
        border: 2px solid #66cc66;
      }
      .danger {
        border: 2px solid #ba122b;
        ::placeholder {
          color: #ba122b;
          opacity: 1;
        }
      }
    }
  }

  //   ============ Tabs ===============

  .tabs {
    .row {
      justify-content: center;
    }

    .tabs-items {
      border-bottom: 1px solid #b2b2b2;
      padding: 15px;
      .butn {
        margin-right: 80px;
        padding-bottom: 15px;
        color: #755def;
        text-decoration: none;

        &.active {
          border-bottom: 4px solid #5335eb;
        }
      }
    }
  }
  .card {
    background-color: #f2f3f5 !important;
    border: none !important;
  }

  // =================== Form check ==================

  .form-check {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .form-check-label {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .btn {
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #5335eb;
    margin-top: 30px;
    width: 160px;
    border-radius: 50px;
    transition: linear 0.2s;

    &:hover {
      background-color: $hover-color;
    }
  }
}

@import 'mobile';
